.header.p-0
  .container
    %ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
      = render partial: "nav_item", locals: { name: "dashboard", icon: "home" }
      = render partial: "nav_item", locals: { name: "products", icon: "package" }
      = render partial: "nav_item", locals: { name: "order_cycles", icon: "refresh-cw" }
      = render partial: "nav_item", locals: { name: "orders", icon: "shopping-cart" }
